
@{ ViewBag.Title = "XacNhanDonHang";
                Layout = "~/Views/Shared/_LayoutUser.cshtml"; }

<h2>Xác Nhận Đơn Hàng</h2>
<h4>
    Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian sớm
    nhất và giao hàng đúng hẹn ! Cảm ơn vì đã mua hàng
</h4>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "SachOnline")
</p>

