@model List<NguyenGiaHuy.SachOnline.Models.SACH>

@{
    ViewBag.Title = "Trang Chủ - Danh sách sách mới";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Sách mới nhất</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="~/Images/@item.anhSP" alt="@item.TenSach" class="imgbook" />
                <div class="card-body">
                    <h4 class="card-title">@item.TenSach</h4>
                    <p class="card-text">Giá: @String.Format("{0:#,##0} VNĐ", item.GiaBan)</p>
                    <a href="@Url.Action("BookDetail", "SachOnline", new { id = item.SachID })" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>
