
@{ ViewBag.Title = "SachTheoChuDe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml"; }

<div style="background-color: #0056b3; padding: 10px 15px; border-radius: 5px 5px 0 0; color: white; font-weight: 600; font-size: 18px; margin-bottom: 0;">
    SÁCH THEO CHỦ ĐỀ
</div>

<div class="row text-center">
    @foreach (var SACH in Model)
    {
<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
    <div class="thumbnail">
        <img src="~/Images/@SACH.anhSP" alt="@SACH.TenSach" class="img- responsive img-rounded imgbook " style="width:235px; height:350px" />
        <div class="caption">
            <h6 style="min-height:50px;">
                <a href="@Url.Action("BookDetail","SachOnline", new { id =SACH.SachID})">@SACH.TenSach</a>
            </h6>
            <p>
                <a href="@Url.Action("AddToCart", "SachOnline", new { id = SACH.SachID })" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                </a>

            </p>
        </div>
    </div>

</div>      }

</div>

